%h1.display-4 TV Show Organizer

%br

- unless logged_in?
  %p
    %a(href="/login") Log In
    or
    %a(href="/signup") Sign Up
    to get started.

  %br

%h1.text-emerald Popular Shows:
%br
.row.justify-content-center
  - @shows.each do |show|
    .col-auto
      %a(href="/shows/#{show.id}")
        .card.mb-2
          .card-body
            .row
              .col-auto
                %strong= show.name
              .col-auto.ml-auto
                .text-muted #{show.users_count} users