!!!
%html
  %head
    %title= @title
    %link(rel="stylesheet" href="/style.css")

  %body
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-emerald.mb-3
      %a.navbar-brand(href="/") TV Show Organizer
      .navbar-nav
        %a.nav-item.nav-link(href="/") Home
        %a.nav-item.nav-link(href="/users") Users
        %a.nav-link(href="/shows") Shows
      .navbar-nav.ml-auto
        - if logged_in?
          %a.nav-item.nav-link(href="/users/#{current_user.slug}")= current_user.username
          %a.nav-item.nav-link(href="/manage") Manage Shows
          %a.nav-item.nav-link(href="/shows/new") New Show
          %a.nav-item.nav-link(href="/logout") Log Out

        - else
          %a.nav-item.nav-link(href="/login") Log In
          %a.nav-item.nav-link(href="/signup") Sign Up

    .container
      - if flash.has?(:message)
        .row
          .col-auto
            .alert.alert-eton.alert-dismissible.mb-4
              %button.close(type="button" data-dismiss="alert")
                %i.fas.fa-times
              %h1.display-4= flash[:message]

      = yield

    %script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    %script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
    %script(defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js")
